{% extends 'base.html.twig' %}

{% block title %}Blog {{ controller_name }}!{% endblock %}

{% block body %}
    <section class="articles">
        {% for article in articles %}
        <article class="jumbotron">
            <h2>{{article.title}}  </h2>
        <div class="metadata"> Ecrit le  {{article.createdAt | date("m/d/Y")}}à {{article.createdAt | date('H:i')}}</div>
        <div class="metadata"> Categorie:  {{article.category.title}} </div> 
        <div class="content"> 
             <img src="{{article.image}}"  alt="" >
        {{article.content | raw}}
<a href="{{path('show_article',{'id': article.id})}}" class="btn btn-primary">Lire la suite</a>
<a href="{{path('edit_article',{'id': article.id})}}" class="btn btn-primary">Modifier l'article</a>
         </div>
        </article>
        {% endfor%}
     
    </section>
      
{% endblock %}
